/*Acaymo Estévez Boeta 1DAMB*/
section{
    display: flex;
    flex-direction: column;
}
article{
    flex-direction: column;
}
h1{
    text-align: center;
    font-size: 200%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.mispan{
    display: block;
    background-color: white;
    border-radius: 30px;
    border: 2px black solid;
    padding: 2%;
    text-align: center;
    opacity: 85%;
}
.contenido{
    display: grid;
    place-items: center;
    margin: auto;
    color: black;
    font-weight: bold;
    height: 500px;
    width: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
p+p{
    margin: 1% 10%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p1{
    background-image: url("../img/14.jpg");
}
.p2{
    background-image: url("../img/53.jpg");
}
.p3{
    background-image: url("../img/23.png");
}
.p4{
    background-image: url("../img/18.jpg");
}
.p5{
    background-image: url("../img/49.jpg");
}
.p6{
    background-image: url("../img/50.jpg");
}
.p7{
    background-image: url("../img/3.jpg");
}
.p8{
    background-image: url("../img/19.jpg");
}
.p9{
    background-image: url("../img/2.jpg");
}
footer{
    display: grid;
    place-items: center;
    margin-top: 5%;
}
h3{
    text-align: center;
    font-size: 200%;
    margin-bottom: 2%;
}
footer a{
    margin: 0 auto;
}
footer a img{
    width: 10%;
    height: 10%;
}
@media screen and (max-width: 1024px){
    h1{
        text-align: center;
        font-size: 150%;
    }
    .mispan{
        display: block;
        background-color: white;
        border-radius: 30px;
        border: 2px black solid;
        padding: 2%;
        text-align: center;
        opacity: 85%;
    }
    p{
        font-size: 75%;
    }
    .contenido{
        display: grid;
        place-items: center;
        margin: auto;
        color: black;
        font-weight: bold;
        height: 250px;
        width: 350px;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 5%;
    }
}